.sidebar {
  font-size: 29.24px;
  line-height: 45.69px;
  width: 326px;
  height: calc(100vh - 60px);
  left: 296px;
  border-radius: 16px;
  background-color: #172554;
  color: #fff;
  display: flex;
  flex-direction: column;
  transition: width 0.3s ease;
  overflow-x: hidden;
  flex-shrink: 0;
  padding-bottom: 20px;
  overflow-y: auto;

    &.collapsed {
      width: 108px;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      flex: 1 0 0;
      align-self: stretch;
      
      &.collapsed.with-submenu {
        border-bottom-right-radius: 0%;
        border-top-right-radius: 0%;
      }
      .menu{
        padding: 12px;
        justify-content: center;

      }
    
    .header {
      height: 68.71px;
      padding: 6px 12px;
      border-radius: 12px;
      display: flex;
      justify-content: center;
      align-items: center;
   
    .logo-container {
      border-radius: 12px;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 39.78px;
      height: 42.087px;
      align-self: center;
      transition: all 0.3s ease;
    }

    .logo {
      width: 39.78px;
      height: 42.087px;
    }

    .app-name,
    input,
    .shortcut,
    .menu-text,
    .header-menu {
      display: none;
    }
   
    .menu-icon {
      margin: 0 auto;
    }

      .toggle {
        position: absolute;
        left: 180px;
        top:55px;
        display: flex;
        width: 28px;
        height: 28px;
        justify-content: center;
        align-items: center;
        cursor: pointer;

        img {
          width: 28px;
          height: 28px;
       
        }
      }
    }
  }
}

  .close-submenu-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    background: none;
    border: none;
    cursor: pointer;
  }
  

.submenu {
  position: fixed;
  top: 30;
  left: 138px; 
  width: 200px;
  height: calc(100vh - 40px);
  background-color: #172554;
  color: #fff;
  transition: transform 0.3s ease;
  transform: translateX(100%);
  z-index: 1000;
  border-top-left-radius: 0%;
  border-bottom-left-radius: 0%;
  border-top-right-radius: 16px;
  border-bottom-right-radius: 16px;
  overflow-y: auto;
  .sidebar {
   
    &.collapsed.with-submenu {
      border-bottom-right-radius: 0%;
      border-top-right-radius: 0%;
    }
   
}
}

.submenu.visible {
  transform: translateX(0);
}
.main-content {
  transition: margin-left 0.3s ease;
  margin-left:0px; 
}

.submenu.visible + .main-content {
  margin-left: 200px; 
}
.menu-icon {
filter: brightness(100);
}
 
  .header-menu{
    font-family: Cairo;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 25px;
    padding-left: 40px;
    padding-bottom: 4px;

    }

  .header {
    row-gap: 10px;
    height: 68.71px;
    padding: 6px 12px;
    border-radius: 12px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #0c1a46;
    margin: 16px;
    
    .logo-container {
      display: flex;
      align-items: center;
      width: 294px;
      height: 68.71px;
      padding: 12px 6px;
      transition: all 0.3s ease;

      .logo {
        width: 39.78px;
        height: 42.087px;
        cursor: pointer;

      }
      .app-name {
        margin-left: 10px;
        font-weight: 500;
        font-family: Cairo;
        font-size: 29.241px;
        line-height: 45.69px;
        cursor: pointer;
      }
    }

    .toggle {
      cursor: pointer;

      img {
        width: 28px;
        height: 28px;
      }
    }
  }
  .menu-text-container {
    display: flex;
    flex-direction: column;
    gap: 4px; 
  }
  
  .submenu-description {
    font-size: 14px;
    color: rgba(255, 255, 255, 0.7);
  }
  .search {
    padding: 4px 16px;

    .search-container {
      display: flex;
      padding-top: 8px;
      padding-bottom: 8px;
      align-items: center;
      border-radius: 8px;
      margin-bottom: 40px;
      background: rgba(239, 246, 255, 0.2);
      transition: all 0.3s ease;

      .search-icon {
        width: 24px;
        height: 24px;
        margin-right: 10px;
        flex-shrink: 0;
        padding-left: 12px;
        
      }

      input {
        flex-grow: 1;
        background: none;
        border: none;
        outline: none;
        font-variant-numeric: lining-nums proportional-nums;
        font-family: Cairo;
        font-size: 16px;
        font-style: normal;
        font-weight: 500;
        line-height: 25px;

        &::placeholder {
          color: #EFF6FF;
        }
      }

      .cmd-icons {
        display: flex;
        gap: 6px;
        padding-right: 12px;

        .icon {
          display: flex;
          width: 23px;
          height: 23px;
          justify-content: center;
          align-items: center;
        }
      }
    }

    &.collapsed {
      .search-container {
        justify-content: center;
        width:76px;

        input,
        .cmd-icons {
          display: none;
        }
      }
    }
  }

  .menu {
    list-style: none;
    padding: 0;
    margin: 0;
    overflow-y: auto;

  &::-webkit-scrollbar {
    width: 4px;
  }

  &::-webkit-scrollbar-thumb {
    background-color: rgba(255, 255, 255, 0.3);
    border-radius: 16px; 
  }

  &::-webkit-scrollbar-thumb:hover {
    background-color: rgba(255, 255, 255, 0.5); 
  }

  &::-webkit-scrollbar-track {
    background-color: rgba(23, 37, 84, 0.8); 
    border-radius: 16px; 
  }

    .menu-item {
      display: flex;
      padding: 8px 12px;
      align-items: center;
      flex: 1 0 0;
      cursor: pointer;
      transition: background 0.2s ease;
      border-radius: 8px;
      margin-left: 16px;
      margin-right: 16px;
      margin-top: 4px;
      display: flex;
      align-items: center;
      gap: 12px;
      flex: 1 0 0;
      &:hover {
        background: rgba(239, 246, 255, 0.2);
      }

      &.active {
        background-color: #1d4ed8;
      }

      .menu-icon {
        width: 24px;
        height: 24px;
      }

      .menu-text {
        font-size: 16px;
        font-weight: 500;
        line-height: 25px;
      }

      .submenu-description {
        font-size: 14px;
        color: rgba(255, 255, 255, 0.7);
        padding-left: 20px;
      }
      .submenu {
        position: fixed;
        top: 0;
        left: 100px;
        width: 250px;
        height: 100vh;
        background-color: #1c2e67;
        color: #fff;
        transition: transform 0.3s ease;
        transform: translateX(100%);
        z-index: 1000;
        border-radius: 16px;
        overflow-y: auto;
      }
    
      .submenu.visible {
        transform: translateX(0);
      }
      .add-sign-icon {
        margin-left: auto;
        width: 20px;
        height: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
      }
    }
  }
  @media screen and (height: 1020px) {
    .sidebar {
      height: calc(100vh - 50px);
    }
    .submenu{
      height: calc(100vh - 30px);

    }
  }
